<div class="column-layout design-systems-landing">
  <div class="row-layout menu">
    <button igxButton="flat" igxRipple class="button">
      COURSE
    </button>
    <button igxButton="flat" igxRipple class="buttonflatenabled-copy">
      RESOURCES
    </button>
    <button igxButton="flat" igxRipple class="buttonflatenabled-copy-2">
      NEWS
    </button>
    <button igxButton="flat" igxRipple class="buttonflatenabled-copy-3">
      JOBS
    </button>
    <button igxButton="fab" igxRipple class="button_1">
      <span>GET STARTED</span>
      <igx-icon>
        add
      </igx-icon>
    </button>
  </div>
  <div class="column-layout details">
    <p class="ig-typography__overline introducing-a-new-de">
      INTRODUCING A NEW DESIGN SYSTEM
    </p>
    <h1 class="build-beautiful-prod">
      Build beautiful products, faster.
    </h1>
    <h4 class="professional-design">
      Professional design library for Designers
    </h4>
    <igx-input-group type="border" class="input">
      <input type="text" igxInput />
      <label igxLabel>Label</label>
    </igx-input-group>
  </div>
  <div class="row-layout features">
    <div class="column-layout group">
      <igx-avatar icon="color_lens" size="large" [roundShape]="true" class="avatar"></igx-avatar>
      <h6 class="design-guidelines">
        Design Guidelines
      </h6>
      <p class="we-created-design-gu">
        We created design guidelines to help you understand the design system and use it without frustration
      </p>
    </div>
    <div class="rectangle"></div>
    <div class="column-layout group">
      <igx-avatar icon="dashboard" size="large" [roundShape]="true" class="avatar_1"></igx-avatar>
      <h6 class="ui-components">
        UI Components
      </h6>
      <p class="we-created-design-gu">
        We created design guidelines to help you understand the design system and use it without frustration
      </p>
    </div>
    <div class="rectangle"></div>
    <div class="column-layout group">
      <igx-avatar icon="devices" size="large" [roundShape]="true" class="avatar_2"></igx-avatar>
      <h6 class="tips-for-developers">
        Tips for Developers
      </h6>
      <p class="we-created-design-gu">
        We created design guidelines to help you understand the design system and use it without frustration
      </p>
    </div>
  </div>
  <div class="oval"></div>
</div>
